.about-me-wrapper {
    padding: 1.5rem 0;
    background-color: yellow;
}
.about-me-wrapper .card {
    background: none;
    border: 0;
}
.about-me-wrapper .about-me-content {
    margin-top: 4rem;
}