<div class="about-me-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="../../assets/hui.jpg" alt="Penghui Li"><br>
          <div class="card-block">
            <h5 class="card-title">Penghui Li</h5>
            <p class="card-text">Angular 2 developer in Germany</p>
            <p class="card-text">
              <span class="fa fa-envelope"> </span>
              <span>ichpenghui@gmail.com</span>
            </p>
            <p class="card-text">
              <span class="fa fa-github"> </span>
              <a href="https://github.com/penghuili">@penghuili</a>
            </p>
            <p class="card-text">
              <span class="fa fa-twitter"> </span>
              <a href="https://twitter.com/penghuili">@penghuili</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <p class="about-me-content">Email or twitter me about anything.</p>
      </div>
    </div>
  </div>
</div>

<sym-footer></sym-footer>
