<div class="about-me-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="../../assets/hui.jpg" alt="Penghui Li"><br>
          <div class="card-block">
            <h5 class="card-title">Penghui Li</h5>
            <p class="card-text">Angular 2 developer in Germany</p>
            <p class="card-text">
              <span class="fa fa-envelope"> </span>
              <span>ichpenghui@gmail.com</span>
            </p>
            <p class="card-text">
              <span class="fa fa-github"> </span>
              <a href="https://github.com/penghuili">@penghuili</a>
            </p>
            <p class="card-text">
              <span class="fa fa-twitter"> </span>
              <a href="https://twitter.com/penghuili">@penghuili</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="update-log">
          <h4>2016-10-20</h4>
          <p>Canvas can have unlimited height now</p>
          <p>Mind list is shown based on created time</p>
          <p>Refactored CanvasComponent to use *ngFor, otherwise canvas will not re-render after height changes</p>
          <p>Add AppConfig to ngrx</p>
        </div>

        <div class="update-log">
          <h4>2016-10-19</h4>
          <p>Add shadow to history list</p>
          <p>Add "Done" tab at mind list page</p>
        </div>

        <div class="update-log">            
          <h4>2016-10-14</h4>
          <p>Add "clear all" history and deleted ideas button</p>
        </div>

        <div class="update-log">            
          <h4>2016-10-13</h4>
          <p>Add "done" button on idea component</p>
          <p>Add "back to minds" button on mind map component</p>
          <p>Fix bug: update mind when hit enter will not create new mind now</p>
          <p>Add about me page</p>
        </div>
      </div>
    </div>
  </div>
</div>

<sym-footer></sym-footer>
