<div class="history-card-wrapper">
  <div class="card text-xs-center"
      [style.background-color]="idea.backgroundColor">
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <div class="card-block">
            <h6 class="card-title">{{idea.text}}</h6>
          </div>
          <hr *ngIf="idea.note">
          <div class="card-block">
            <p class="card-text">{{idea.note}}</p>
          </div>
        </div>
        <div class="col-sm-2">
          <span class="fa fa-undo"
              (mousedown)="stopPropagationPlease($event)"
              (mouseup)="recoverIdea($event)"></span><br>
          <span class="fa fa-trash"
              (mousedown)="stopPropagationPlease($event)"
              (mouseup)="deleteIdeaFromHistory($event)"></span>
        </div>
      </div>
    </div>
    
  </div>
</div>