<div class="history-list-wrapper">
  <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [class.active]="isShowCurrent"
            (mousedown)="stopPropagationPlease($event)"
            (mouseup)="onShowCurrent($event)">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="isShowDeleted"
            (mousedown)="stopPropagationPlease($event)"
            (mouseup)="onShowDeleted($event)">Trash</a>
      </li>
    </ul>

    <div class="tab-content" [style.height.px]="listHeight">
      <div class="tab-pane" role="tabpanel" [class.active]="isShowCurrent">        
        <sym-history-card *ngFor="let idea of _historyIdeas"
            [idea]="idea"
            (ideaRecover)="onHistoryIdeaRecover($event)"
            (ideaDelete)="onHistoryIdeaDelete($event)">
        </sym-history-card>
        <div class="text-sm-center no-idea" *ngIf="!hasHistory">
          <p>No history.</p>
        </div>
      </div>
      <div class="tab-pane" role="tabpanel" [class.active]="isShowDeleted">        
        <sym-history-card *ngFor="let idea of _deletedIdeas"
            [idea]="idea"
            (ideaRecover)="onDeletedIdeaRecover($event)"
            (ideaDelete)="onDeletedIdeaDelete($event)">
        </sym-history-card>
        <div class="text-sm-center no-idea" *ngIf="!hasDeletedIdeas">
          <p>No deleted Ideas.</p>
        </div>
      </div>
    </div>
</div>