<div class="map-wrapper" #mapWrapper
    (mousemove)="onMousemoveOnContainer($event)">
    <div class="canvas-history-wrapper">
        <sym-canvas 
            [lines]="lines"
            [canvasWidth]="canvasWidth"
            [canvasHeight]="canvasHeight"
            [isMindDeleted]="isMindDeleted"
            (mousedown)="onMousedownOnCanvas($event)"
            (mouseup)="onMouseupOnCanvas($event)"
            (canvasOffsetReady)="onCanvasOffsetReady($event)">
        </sym-canvas>
        <sym-history-list *ngIf="isShowHistory && hasHistory"
            [ideas]="_selectedIdeaHistory"
            [listHeight]="historyListHeight"
            (ideaRecover)="onIdeaRecover($event)"
            (ideaDeletedFromHistory)="onIdeaDeletedFromHistory($event)">
        </sym-history-list>
    </div>
    <sym-idea *ngFor="let idea of ideas" 
        [idea]="idea"
        [style.top.px]="idea.top"
        [style.left.px]="idea.left"
        [class.borderBlue]="idea.isSelected"
        (mousedown)="onMousedownOnIdea($event, idea)"
        (mouseup)="onMouseupOnIdea($event, idea)"
        (contextmenu)="onContextmenu($event)"
        (ideaContentUpdated)="onIdeaContentUpdated($event)"
        (ideaDeleted)="onIdeaDeleted($event)"
        (ideaMetadataUpdated)="onIdeaMetadataUpdated($event)"
        (showHistory)="onShowHistory($event)"
        >        
    </sym-idea>
    <sym-new-idea 
        [newIdeaPosition]="newIdeaPosition"
        (newIdea)="onNewIdea($event)"
        *ngIf="isAddingNewIdea"></sym-new-idea>
</div>