<div class="map-wrapper" #mapWrapper
    (mousemove)="onMousemoveOnContainer($event)">
    <sym-canvas 
        [lines]="lines"
        [canvasWidth]="canvasWidth"
        [canvasHeight]="canvasHeight"
        [isMindDeleted]="isMindDeleted"
        (mousedown)="onMousedownOnCanvas($event)"
        (mouseup)="onMouseupOnCanvas($event)"
        (canvasOffsetReady)="onCanvasOffsetReady($event)">
    </sym-canvas>
    <sym-idea *ngFor="let idea of ideas" 
        [idea]="idea"
        [style.top.px]="idea.top"
        [style.left.px]="idea.left"
        [class.borderBlue]="idea.isSelected"
        (mousedown)="onMousedownOnIdea($event, idea)"
        (mouseup)="onMouseupOnIdea($event, idea)"
        (contextmenu)="onContextmenu($event)"
        (ideaContentUpdated)="onIdeaContentUpdated($event)"
        (ideaDeleted)="onIdeaDeleted($event)"
        (ideaMetadataUpdated)="onIdeaMetadataUpdated($event)"
        >        
    </sym-idea>
    <sym-new-idea 
        [newIdeaPosition]="newIdeaPosition"
        (newIdea)="onNewIdea($event)"
        *ngIf="isAddingNewIdea"></sym-new-idea>
</div>