.map-wrapper {
    position: relative;
    padding: 0;
    margin: 1.5rem auto;
}

.borderBlue {
    border: blue solid 1px;
}

sym-history-list {
    position: absolute;
    top: 1rem;
    right: 3rem;
}

sym-idea {
    position: absolute;
}

.canvas-history-wrapper {
    position: relative;
}

.mind-title-and-sidebar {
    position: absolute;
    left: 2.5rem;
    top: 0.5rem;
    color: #0275d8;
}
.mind-title-and-sidebar .btn {
    padding: 0 1rem;
}

.expand-button {
    position: absolute;
    bottom: 0.5rem;
    right: 3rem;
    font-size: 2rem;
}