<div class="container" #container
    (mousemove)="onMousemoveOnContainer($event)">
    <sym-canvas
        [lines]="lines"
        [width]="containerWidth"
        (mousedown)="onMousedownOnCanvas($event)"
        (mouseup)="onMouseupOnCanvas($event)">
    </sym-canvas>
    <sym-idea *ngFor="let idea of ideas" 
        [idea]="idea"
        [style.top.px]="idea.top"
        [style.left.px]="idea.left"
        (mousedown)="onMousedownOnIdea($event, idea)"
        (mouseup)="onMouseupOnIdea($event, idea)"
        (contextmenu)="onContextmenu($event)"
        (centerAdded)="onCenterAdded($event)"
        (ideaUpdated)="onIdeaUpdated($event)"
        (ideaDeleted)="onIdeaDeleted($event)"
        >        
    </sym-idea>
    <sym-new-idea 
        [newIdeaPosition]="newIdeaPosition"
        (newIdea)="onNewIdea($event)"
        *ngIf="isAddingNewIdea"></sym-new-idea>
</div>