<div class="container">
    <div class="row">
        <sym-mind-map
            [ideas]="ideas | async"
            [lines]="lines | async"
            (lineMoving)="onLineMoving($event)"
            (movingLineDeleted)="onMovingLineDeleted($event)"
            (lineCreated)="onLineCreated($event)"
            (linesDeleted)="onLinesDeleted($event)"
            (ideaMoving)="onIdeaMoving($event)"
            (ideaMoved)="onIdeaMoved($event)"
            (ideaCreated)="onIdeaCreated($event)"
            (ideaDeleted)="onIdeaDeleted($event)"
            (centerAdded)="onCenterAdded($event)">
        </sym-mind-map>
    </div>

    <div class="row">
        <sym-doc-list></sym-doc-list>
    </div>
</div>