<sym-mind-map
    [activeIdeas]="activeIdeas"
    [deletedIdeas]="deletedIdeas"
    [lines]="lines | async"
    [selectedIdeaHistory]="selectedIdeaHistory | async"
    [mind]="mind"
    (lineMoving)="onLineMoving($event)"
    (movingLineDeleted)="onMovingLineDeleted($event)"
    (lineAdded)="onLineAdded($event)"
    (linesDeleted)="onLinesDeleted($event)"
    (ideaMoving)="onIdeaMoving($event)"
    (ideaAdded)="onIdeaAdded($event)"
    (ideaDeleted)="onIdeaDeleted($event)"
    (ideaContentUpdated)="onIdeaContentUpdated($event)"
    (ideaMetadataUpdated)="onIdeaMetadataUpdated($event)"
    (ideaSelected)="onIdeaSelected($event)"
    (showHistory)="onShowHistory($event)"
    (historyIdeaRecover)="onHistoryIdeaRecover($event)"
    (historyIdeasDelete)="onHistoryIdeasDelete($event)"
    (deletedIdeaRecover)="onDeletedIdeaRecover($event)"
    (deletedIdeasDelete)="onDeletedIdeasDelete($event)">
</sym-mind-map>
