<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Shoot Your Mind</h1>
    <p class="lead">Free style mind map!</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid sym-features">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-group">
          <li class="list-group-item">No center idea</li>
          <li class="list-group-item">Start with all thoughts in your mind</li>
          <li class="list-group-item">And then connect them</li>
          <li class="list-group-item">         style them</li>
          <li class="list-group-item">And view all the change history</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <div class="card ben-card">
          <img class="card-img-top img-fluid" src="../../shoot-your-mind/assets/ben.jpg" alt="Ben Affleck"><br>
          <div class="card-block">
            <h4 class="card-title">
              Take a tour <a [routerLink]="['minds', 'mind1476185128185']">here >></a>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<sym-footer></sym-footer>

